@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url("components/buttons.css");
@import url("normalize.css");
@import url("components/grids.css");
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/dice.css");
@import url("components/stats.css");
@import url("components/dice-animations.css");
@import url("components/timeline.css");
@import url("components/timeline-animations.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


:root {

  /* Paleta COLORES*/
  --color-primario: #000;
  --color-secundario: #ecfa24;
  --color-texto: #686464;

  /* Tipografías*/
  --fuente-principal: 'Blinker', system-ui, sans-serif;

  /* Regla de los 4px*/
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;
  --space-16: 64px;

}

body {
  background-color: var(--color-primario);
  font-family: 'Blinker';
  background-image: radial-gradient(circle, #33ab00, rgba(46, 50, 45, 0.974));
}
